<!--Extend template for the history display-->
{% extends "base.html" %}

{% block title %}Message History{% endblock %}

{% block content %}
<div class="row" style="padding-top:15px;" >
    <div class="col"></div>
    <div class="col-auto" style="color:rgb(252, 252, 252)"><p class="h3" align="center" >Message History</p></div>
    <div class="col"></div>
</div>
<div class="message-container">
    <div class="overflow-auto" class="msgs" id="messagesHistory" style="overflow-y: scroll; height:500px;">
        {% for msg in history %}
            <div class="container darker"><b style="color:#000" class="left">{{msg["name"]}}</b><p> {{msg["message"]}}</p><span class="time-left">{{msg["time"]}}</span></div>
        {% endfor %}
    </div>
</div>
{% endblock %}