{% extends "base.html" %}

{% block title %}Message History{% endblock %}

{% block content %}
<div class="row pt-2 pb-2" >
    <div class="col"></div>
    <div class="col-auto nav-header-color"><p class="h3" align="center" >Message History</p></div>
    <div class="col"></div>
</div>
<div class="message-container">
    <div id="messagesHistory" class="overflow-auto msgs">
        {% for msg in history %}
            <div class="container darker"><b class="left">{{msg["name"]}}</b><p> {{msg["message"]}}</p><span class="time-left">{{msg["time"]}}</span></div>
        {% endfor %}
    </div>
</div>
{% endblock %}