<!--Extend template for login page/form-->
{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row" style="padding-top:15px;" >
  <div class="col"></div>
  <div class="col-auto nav-header-color"><p class="h3" align="center">Login</p></div>
  <div class="col"></div>
</div>
<div class="login-page">
  <div class="form">
    <form class="login-form" action="#" method="POST">
      <input type="text" name="inputName" id="inputName" placeholder="Your Name"/>
      <button type="submit" class="btn btn-success mb-2">Submit</button>
    </form>
  </div>
</div>
{% endblock %}