@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import "compass/css3";

/* Background image */
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212931;
}

/* Chat container */
.container {
    border: 2px solid #b9b0d4;
    background-color: #b9b0d4;
    border-radius: 5px;
    padding: 1px;
    margin: 10px 0;
    box-shadow: 0 0 20px 0 rgba(43, 43, 43, 0.5), 0 5px 5px 0 rgba(20, 20, 20, 0.25);
}

/* Message container */
.message-container {
    border: 2px solid #dedede;
    background-color: #dedede;
    border-radius: 5px;
    margin: 10px 0;
    margin-top: 0px;
    box-shadow: 0 0 20px 0 rgba(43, 43, 43, 0.5), 0 5px 5px 0 rgba(20, 20, 20, 0.25);
}

/* Darker chat container */
.darker {
    border: 2px solid #b6b6b6;
    background-color: #b6b6b6;
    box-shadow: 0 0 20px 0 rgba(43, 43, 43, 0.5), 0 5px 5px 0 rgba(20, 20, 20, 0.25);
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container b {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container b.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
    color:#aaa;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}


/* Style time text */
.time-left {
    float: left;
    font-size: 12px;
    color: rgb(82, 81, 81);
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #3e3e44;
    max-width: 360px;
    margin: 0 auto 100px;
    border-radius: 5px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #e7e7e7;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #5a5858;
    font-size: 12px;
}
